#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
h1{
    font-family: cursive;
    font-weight: bold;
}
h4{
    color: red;
}
img{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
}
.column{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}
